=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class DeliveryAttemptsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve a delivery attempt
    # This endpoint fetches an app event delivery attempt
    # @param project_id [String] Project ID
    # @param event_delivery_id [String] event delivery id
    # @param delivery_attempt_id [String] delivery attempt id
    # @param [Hash] opts the optional parameters
    # @return [GetDeliveryAttempt200Response]
    def get_delivery_attempt(project_id, event_delivery_id, delivery_attempt_id, opts = {})
      data, _status_code, _headers = get_delivery_attempt_with_http_info(project_id, event_delivery_id, delivery_attempt_id, opts)
      data
    end

    # Retrieve a delivery attempt
    # This endpoint fetches an app event delivery attempt
    # @param project_id [String] Project ID
    # @param event_delivery_id [String] event delivery id
    # @param delivery_attempt_id [String] delivery attempt id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDeliveryAttempt200Response, Integer, Hash)>] GetDeliveryAttempt200Response data, response status code and response headers
    def get_delivery_attempt_with_http_info(project_id, event_delivery_id, delivery_attempt_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAttemptsApi.get_delivery_attempt ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeliveryAttemptsApi.get_delivery_attempt"
      end
      # verify the required parameter 'event_delivery_id' is set
      if @api_client.config.client_side_validation && event_delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_delivery_id' when calling DeliveryAttemptsApi.get_delivery_attempt"
      end
      # verify the required parameter 'delivery_attempt_id' is set
      if @api_client.config.client_side_validation && delivery_attempt_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_attempt_id' when calling DeliveryAttemptsApi.get_delivery_attempt"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}/deliveryattempts/{deliveryAttemptID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{eventDeliveryID}', CGI.escape(event_delivery_id.to_s)).sub('{deliveryAttemptID}', CGI.escape(delivery_attempt_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDeliveryAttempt200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DeliveryAttemptsApi.get_delivery_attempt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAttemptsApi#get_delivery_attempt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List delivery attempts
    # This endpoint fetches an app message's delivery attempts
    # @param project_id [String] Project ID
    # @param event_delivery_id [String] event delivery id
    # @param [Hash] opts the optional parameters
    # @return [GetDeliveryAttempts200Response]
    def get_delivery_attempts(project_id, event_delivery_id, opts = {})
      data, _status_code, _headers = get_delivery_attempts_with_http_info(project_id, event_delivery_id, opts)
      data
    end

    # List delivery attempts
    # This endpoint fetches an app message&#39;s delivery attempts
    # @param project_id [String] Project ID
    # @param event_delivery_id [String] event delivery id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDeliveryAttempts200Response, Integer, Hash)>] GetDeliveryAttempts200Response data, response status code and response headers
    def get_delivery_attempts_with_http_info(project_id, event_delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeliveryAttemptsApi.get_delivery_attempts ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeliveryAttemptsApi.get_delivery_attempts"
      end
      # verify the required parameter 'event_delivery_id' is set
      if @api_client.config.client_side_validation && event_delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_delivery_id' when calling DeliveryAttemptsApi.get_delivery_attempts"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}/deliveryattempts'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{eventDeliveryID}', CGI.escape(event_delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDeliveryAttempts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DeliveryAttemptsApi.get_delivery_attempts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeliveryAttemptsApi#get_delivery_attempts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
