=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class EndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate endpoint
    # Activated an inactive endpoint
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpoint201Response]
    def activate_endpoint(project_id, endpoint_id, opts = {})
      data, _status_code, _headers = activate_endpoint_with_http_info(project_id, endpoint_id, opts)
      data
    end

    # Activate endpoint
    # Activated an inactive endpoint
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpoint201Response, Integer, Hash)>] CreateEndpoint201Response data, response status code and response headers
    def activate_endpoint_with_http_info(project_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.activate_endpoint ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EndpointsApi.activate_endpoint"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.activate_endpoint"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/endpoints/{endpointID}/activate'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{endpointID}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpoint201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.activate_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#activate_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an endpoint
    # This endpoint creates an endpoint
    # @param project_id [String] Project ID
    # @param models_create_endpoint [ModelsCreateEndpoint] Endpoint Details
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpoint201Response]
    def create_endpoint(project_id, models_create_endpoint, opts = {})
      data, _status_code, _headers = create_endpoint_with_http_info(project_id, models_create_endpoint, opts)
      data
    end

    # Create an endpoint
    # This endpoint creates an endpoint
    # @param project_id [String] Project ID
    # @param models_create_endpoint [ModelsCreateEndpoint] Endpoint Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpoint201Response, Integer, Hash)>] CreateEndpoint201Response data, response status code and response headers
    def create_endpoint_with_http_info(project_id, models_create_endpoint, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.create_endpoint ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EndpointsApi.create_endpoint"
      end
      # verify the required parameter 'models_create_endpoint' is set
      if @api_client.config.client_side_validation && models_create_endpoint.nil?
        fail ArgumentError, "Missing the required parameter 'models_create_endpoint' when calling EndpointsApi.create_endpoint"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/endpoints'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_create_endpoint)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpoint201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.create_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#create_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete endpoint
    # This endpoint deletes an endpoint
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def delete_endpoint(project_id, endpoint_id, opts = {})
      data, _status_code, _headers = delete_endpoint_with_http_info(project_id, endpoint_id, opts)
      data
    end

    # Delete endpoint
    # This endpoint deletes an endpoint
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def delete_endpoint_with_http_info(project_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.delete_endpoint ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EndpointsApi.delete_endpoint"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.delete_endpoint"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/endpoints/{endpointID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{endpointID}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.delete_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#delete_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Roll endpoint secret
    # This endpoint expires and re-generates the endpoint secret.
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param models_expire_secret [ModelsExpireSecret] Expire Secret Body Parameters
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpoint201Response]
    def expire_secret(project_id, endpoint_id, models_expire_secret, opts = {})
      data, _status_code, _headers = expire_secret_with_http_info(project_id, endpoint_id, models_expire_secret, opts)
      data
    end

    # Roll endpoint secret
    # This endpoint expires and re-generates the endpoint secret.
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param models_expire_secret [ModelsExpireSecret] Expire Secret Body Parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpoint201Response, Integer, Hash)>] CreateEndpoint201Response data, response status code and response headers
    def expire_secret_with_http_info(project_id, endpoint_id, models_expire_secret, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.expire_secret ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EndpointsApi.expire_secret"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.expire_secret"
      end
      # verify the required parameter 'models_expire_secret' is set
      if @api_client.config.client_side_validation && models_expire_secret.nil?
        fail ArgumentError, "Missing the required parameter 'models_expire_secret' when calling EndpointsApi.expire_secret"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/endpoints/{endpointID}/expire_secret'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{endpointID}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_expire_secret)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpoint201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.expire_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#expire_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve endpoint
    # This endpoint fetches an endpoint
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpoint201Response]
    def get_endpoint(project_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoint_with_http_info(project_id, endpoint_id, opts)
      data
    end

    # Retrieve endpoint
    # This endpoint fetches an endpoint
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpoint201Response, Integer, Hash)>] CreateEndpoint201Response data, response status code and response headers
    def get_endpoint_with_http_info(project_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoint ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EndpointsApi.get_endpoint"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoint"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/endpoints/{endpointID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{endpointID}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpoint201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all endpoints
    # This endpoint fetches an endpoints
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [String] :owner_id The owner ID of the endpoint
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :q The name of the endpoint
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @return [GetEndpoints200Response]
    def get_endpoints(project_id, opts = {})
      data, _status_code, _headers = get_endpoints_with_http_info(project_id, opts)
      data
    end

    # List all endpoints
    # This endpoint fetches an endpoints
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [String] :owner_id The owner ID of the endpoint
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :q The name of the endpoint
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @return [Array<(GetEndpoints200Response, Integer, Hash)>] GetEndpoints200Response data, response status code and response headers
    def get_endpoints_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EndpointsApi.get_endpoints"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/endpoints'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'ownerId'] = opts[:'owner_id'] if !opts[:'owner_id'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pause endpoint
    # Toggles an endpoint's status between active and paused states
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpoint201Response]
    def pause_endpoint(project_id, endpoint_id, opts = {})
      data, _status_code, _headers = pause_endpoint_with_http_info(project_id, endpoint_id, opts)
      data
    end

    # Pause endpoint
    # Toggles an endpoint&#39;s status between active and paused states
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpoint201Response, Integer, Hash)>] CreateEndpoint201Response data, response status code and response headers
    def pause_endpoint_with_http_info(project_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.pause_endpoint ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EndpointsApi.pause_endpoint"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.pause_endpoint"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/endpoints/{endpointID}/pause'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{endpointID}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpoint201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.pause_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#pause_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test OAuth2 connection
    # This endpoint tests the OAuth2 connection by attempting to exchange a token
    # @param project_id [String] Project ID
    # @param models_test_o_auth2_request [ModelsTestOAuth2Request] OAuth2 Configuration
    # @param [Hash] opts the optional parameters
    # @return [TestOAuth2Connection200Response]
    def test_o_auth2_connection(project_id, models_test_o_auth2_request, opts = {})
      data, _status_code, _headers = test_o_auth2_connection_with_http_info(project_id, models_test_o_auth2_request, opts)
      data
    end

    # Test OAuth2 connection
    # This endpoint tests the OAuth2 connection by attempting to exchange a token
    # @param project_id [String] Project ID
    # @param models_test_o_auth2_request [ModelsTestOAuth2Request] OAuth2 Configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestOAuth2Connection200Response, Integer, Hash)>] TestOAuth2Connection200Response data, response status code and response headers
    def test_o_auth2_connection_with_http_info(project_id, models_test_o_auth2_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.test_o_auth2_connection ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EndpointsApi.test_o_auth2_connection"
      end
      # verify the required parameter 'models_test_o_auth2_request' is set
      if @api_client.config.client_side_validation && models_test_o_auth2_request.nil?
        fail ArgumentError, "Missing the required parameter 'models_test_o_auth2_request' when calling EndpointsApi.test_o_auth2_connection"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/endpoints/oauth2/test'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_test_o_auth2_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TestOAuth2Connection200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.test_o_auth2_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#test_o_auth2_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an endpoint
    # This endpoint updates an endpoint
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param models_update_endpoint [ModelsUpdateEndpoint] Endpoint Details
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpoint201Response]
    def update_endpoint(project_id, endpoint_id, models_update_endpoint, opts = {})
      data, _status_code, _headers = update_endpoint_with_http_info(project_id, endpoint_id, models_update_endpoint, opts)
      data
    end

    # Update an endpoint
    # This endpoint updates an endpoint
    # @param project_id [String] Project ID
    # @param endpoint_id [String] Endpoint ID
    # @param models_update_endpoint [ModelsUpdateEndpoint] Endpoint Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpoint201Response, Integer, Hash)>] CreateEndpoint201Response data, response status code and response headers
    def update_endpoint_with_http_info(project_id, endpoint_id, models_update_endpoint, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.update_endpoint ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EndpointsApi.update_endpoint"
      end
      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.update_endpoint"
      end
      # verify the required parameter 'models_update_endpoint' is set
      if @api_client.config.client_side_validation && models_update_endpoint.nil?
        fail ArgumentError, "Missing the required parameter 'models_update_endpoint' when calling EndpointsApi.update_endpoint"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/endpoints/{endpointID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{endpointID}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_update_endpoint)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpoint201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.update_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#update_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
