=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class EventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch replay events
    # This endpoint replays multiple events at once.
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint ids to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :query Any arbitrary value to filter the events payload
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [Array<String>] :source_id A list of Source IDs to filter the events by.
    # @option opts [String] :start_date The start date
    # @return [BatchReplayEvents200Response]
    def batch_replay_events(project_id, opts = {})
      data, _status_code, _headers = batch_replay_events_with_http_info(project_id, opts)
      data
    end

    # Batch replay events
    # This endpoint replays multiple events at once.
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint ids to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :query Any arbitrary value to filter the events payload
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [Array<String>] :source_id A list of Source IDs to filter the events by.
    # @option opts [String] :start_date The start date
    # @return [Array<(BatchReplayEvents200Response, Integer, Hash)>] BatchReplayEvents200Response data, response status code and response headers
    def batch_replay_events_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.batch_replay_events ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventsApi.batch_replay_events"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/events/batchreplay'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'endpointId'] = @api_client.build_collection_param(opts[:'endpoint_id'], :multi) if !opts[:'endpoint_id'].nil?
      query_params[:'idempotencyKey'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'sourceId'] = @api_client.build_collection_param(opts[:'source_id'], :multi) if !opts[:'source_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BatchReplayEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.batch_replay_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#batch_replay_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count events matching batch replay filters
    # This endpoint returns how many events would be affected by a batch replay with the given filters.
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint ids to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :query Any arbitrary value to filter the events payload
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [Array<String>] :source_id A list of Source IDs to filter the events by.
    # @option opts [String] :start_date The start date
    # @return [CountAffectedEvents200Response]
    def count_affected_events(project_id, opts = {})
      data, _status_code, _headers = count_affected_events_with_http_info(project_id, opts)
      data
    end

    # Count events matching batch replay filters
    # This endpoint returns how many events would be affected by a batch replay with the given filters.
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint ids to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :query Any arbitrary value to filter the events payload
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [Array<String>] :source_id A list of Source IDs to filter the events by.
    # @option opts [String] :start_date The start date
    # @return [Array<(CountAffectedEvents200Response, Integer, Hash)>] CountAffectedEvents200Response data, response status code and response headers
    def count_affected_events_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.count_affected_events ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventsApi.count_affected_events"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/events/countbatchreplayevents'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'endpointId'] = @api_client.build_collection_param(opts[:'endpoint_id'], :multi) if !opts[:'endpoint_id'].nil?
      query_params[:'idempotencyKey'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'sourceId'] = @api_client.build_collection_param(opts[:'source_id'], :multi) if !opts[:'source_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountAffectedEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.count_affected_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#count_affected_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a broadcast event
    # This endpoint creates a event that is broadcast to every endpoint whose subscription matches the given event type.
    # @param project_id [String] Project ID
    # @param models_broadcast_event [ModelsBroadcastEvent] Broadcast Event Details
    # @param [Hash] opts the optional parameters
    # @return [CreateBroadcastEvent201Response]
    def create_broadcast_event(project_id, models_broadcast_event, opts = {})
      data, _status_code, _headers = create_broadcast_event_with_http_info(project_id, models_broadcast_event, opts)
      data
    end

    # Create a broadcast event
    # This endpoint creates a event that is broadcast to every endpoint whose subscription matches the given event type.
    # @param project_id [String] Project ID
    # @param models_broadcast_event [ModelsBroadcastEvent] Broadcast Event Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBroadcastEvent201Response, Integer, Hash)>] CreateBroadcastEvent201Response data, response status code and response headers
    def create_broadcast_event_with_http_info(project_id, models_broadcast_event, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.create_broadcast_event ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventsApi.create_broadcast_event"
      end
      # verify the required parameter 'models_broadcast_event' is set
      if @api_client.config.client_side_validation && models_broadcast_event.nil?
        fail ArgumentError, "Missing the required parameter 'models_broadcast_event' when calling EventsApi.create_broadcast_event"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/events/broadcast'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_broadcast_event)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBroadcastEvent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.create_broadcast_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#create_broadcast_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dynamic Events
    # This endpoint does not require creating endpoint and subscriptions ahead of time. Instead, you supply the endpoint and the payload, and Convoy delivers the events
    # @param project_id [String] Project ID
    # @param models_dynamic_event [ModelsDynamicEvent] Event Details
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def create_dynamic_event(project_id, models_dynamic_event, opts = {})
      data, _status_code, _headers = create_dynamic_event_with_http_info(project_id, models_dynamic_event, opts)
      data
    end

    # Dynamic Events
    # This endpoint does not require creating endpoint and subscriptions ahead of time. Instead, you supply the endpoint and the payload, and Convoy delivers the events
    # @param project_id [String] Project ID
    # @param models_dynamic_event [ModelsDynamicEvent] Event Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def create_dynamic_event_with_http_info(project_id, models_dynamic_event, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.create_dynamic_event ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventsApi.create_dynamic_event"
      end
      # verify the required parameter 'models_dynamic_event' is set
      if @api_client.config.client_side_validation && models_dynamic_event.nil?
        fail ArgumentError, "Missing the required parameter 'models_dynamic_event' when calling EventsApi.create_dynamic_event"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/events/dynamic'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_dynamic_event)

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.create_dynamic_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#create_dynamic_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an event
    # This endpoint creates an endpoint event
    # @param project_id [String] Project ID
    # @param models_create_event [ModelsCreateEvent] Event Details
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def create_endpoint_event(project_id, models_create_event, opts = {})
      data, _status_code, _headers = create_endpoint_event_with_http_info(project_id, models_create_event, opts)
      data
    end

    # Create an event
    # This endpoint creates an endpoint event
    # @param project_id [String] Project ID
    # @param models_create_event [ModelsCreateEvent] Event Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def create_endpoint_event_with_http_info(project_id, models_create_event, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.create_endpoint_event ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventsApi.create_endpoint_event"
      end
      # verify the required parameter 'models_create_event' is set
      if @api_client.config.client_side_validation && models_create_event.nil?
        fail ArgumentError, "Missing the required parameter 'models_create_event' when calling EventsApi.create_endpoint_event"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/events'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_create_event)

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.create_endpoint_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#create_endpoint_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fan out an event
    # This endpoint uses the owner_id to fan out an event to multiple endpoints.
    # @param project_id [String] Project ID
    # @param models_fanout_event [ModelsFanoutEvent] Event Details
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def create_endpoint_fanout_event(project_id, models_fanout_event, opts = {})
      data, _status_code, _headers = create_endpoint_fanout_event_with_http_info(project_id, models_fanout_event, opts)
      data
    end

    # Fan out an event
    # This endpoint uses the owner_id to fan out an event to multiple endpoints.
    # @param project_id [String] Project ID
    # @param models_fanout_event [ModelsFanoutEvent] Event Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def create_endpoint_fanout_event_with_http_info(project_id, models_fanout_event, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.create_endpoint_fanout_event ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventsApi.create_endpoint_fanout_event"
      end
      # verify the required parameter 'models_fanout_event' is set
      if @api_client.config.client_side_validation && models_fanout_event.nil?
        fail ArgumentError, "Missing the required parameter 'models_fanout_event' when calling EventsApi.create_endpoint_fanout_event"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/events/fanout'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_fanout_event)

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.create_endpoint_fanout_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#create_endpoint_fanout_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an event
    # This endpoint retrieves an event
    # @param project_id [String] Project ID
    # @param event_id [String] event id
    # @param [Hash] opts the optional parameters
    # @return [CreateBroadcastEvent201Response]
    def get_endpoint_event(project_id, event_id, opts = {})
      data, _status_code, _headers = get_endpoint_event_with_http_info(project_id, event_id, opts)
      data
    end

    # Retrieve an event
    # This endpoint retrieves an event
    # @param project_id [String] Project ID
    # @param event_id [String] event id
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBroadcastEvent201Response, Integer, Hash)>] CreateBroadcastEvent201Response data, response status code and response headers
    def get_endpoint_event_with_http_info(project_id, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.get_endpoint_event ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventsApi.get_endpoint_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventsApi.get_endpoint_event"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/events/{eventID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{eventID}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBroadcastEvent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.get_endpoint_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#get_endpoint_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all events
    # This endpoint fetches app events with pagination
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint ids to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :query Any arbitrary value to filter the events payload
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [Array<String>] :source_id A list of Source IDs to filter the events by.
    # @option opts [String] :start_date The start date
    # @return [GetEventsPaged200Response]
    def get_events_paged(project_id, opts = {})
      data, _status_code, _headers = get_events_paged_with_http_info(project_id, opts)
      data
    end

    # List all events
    # This endpoint fetches app events with pagination
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint ids to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :query Any arbitrary value to filter the events payload
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [Array<String>] :source_id A list of Source IDs to filter the events by.
    # @option opts [String] :start_date The start date
    # @return [Array<(GetEventsPaged200Response, Integer, Hash)>] GetEventsPaged200Response data, response status code and response headers
    def get_events_paged_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.get_events_paged ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventsApi.get_events_paged"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/events'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'endpointId'] = @api_client.build_collection_param(opts[:'endpoint_id'], :multi) if !opts[:'endpoint_id'].nil?
      query_params[:'idempotencyKey'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'sourceId'] = @api_client.build_collection_param(opts[:'source_id'], :multi) if !opts[:'source_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventsPaged200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.get_events_paged",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#get_events_paged\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replay event
    # This endpoint replays an event afresh assuming it is a new event.
    # @param project_id [String] Project ID
    # @param event_id [String] event id
    # @param [Hash] opts the optional parameters
    # @return [CreateBroadcastEvent201Response]
    def replay_endpoint_event(project_id, event_id, opts = {})
      data, _status_code, _headers = replay_endpoint_event_with_http_info(project_id, event_id, opts)
      data
    end

    # Replay event
    # This endpoint replays an event afresh assuming it is a new event.
    # @param project_id [String] Project ID
    # @param event_id [String] event id
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBroadcastEvent201Response, Integer, Hash)>] CreateBroadcastEvent201Response data, response status code and response headers
    def replay_endpoint_event_with_http_info(project_id, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.replay_endpoint_event ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventsApi.replay_endpoint_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventsApi.replay_endpoint_event"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/events/{eventID}/replay'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{eventID}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBroadcastEvent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventsApi.replay_endpoint_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#replay_endpoint_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
