=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class EventDeliveriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch retry event delivery
    # This endpoint batch retries multiple event deliveries at once.
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint IDs to filter by
    # @option opts [String] :event_id Event ID to filter by
    # @option opts [String] :event_type EventType to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [String] :start_date The start date
    # @option opts [Array<String>] :status A list of event delivery statuses to filter by
    # @option opts [String] :subscription_id SubscriptionID to filter by
    # @return [GetProjects400Response]
    def batch_retry_event_delivery(project_id, opts = {})
      data, _status_code, _headers = batch_retry_event_delivery_with_http_info(project_id, opts)
      data
    end

    # Batch retry event delivery
    # This endpoint batch retries multiple event deliveries at once.
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint IDs to filter by
    # @option opts [String] :event_id Event ID to filter by
    # @option opts [String] :event_type EventType to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [String] :start_date The start date
    # @option opts [Array<String>] :status A list of event delivery statuses to filter by
    # @option opts [String] :subscription_id SubscriptionID to filter by
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def batch_retry_event_delivery_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDeliveriesApi.batch_retry_event_delivery ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventDeliveriesApi.batch_retry_event_delivery"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/eventdeliveries/batchretry'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'endpointId'] = @api_client.build_collection_param(opts[:'endpoint_id'], :multi) if !opts[:'endpoint_id'].nil?
      query_params[:'eventId'] = opts[:'event_id'] if !opts[:'event_id'].nil?
      query_params[:'event_type'] = opts[:'event_type'] if !opts[:'event_type'].nil?
      query_params[:'idempotencyKey'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'status'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'subscriptionId'] = opts[:'subscription_id'] if !opts[:'subscription_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDeliveriesApi.batch_retry_event_delivery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDeliveriesApi#batch_retry_event_delivery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Force retry event delivery
    # This endpoint enables you retry a previously successful event delivery
    # @param project_id [String] Project ID
    # @param models_ids [ModelsIDs] event delivery ids
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def force_resend_event_deliveries(project_id, models_ids, opts = {})
      data, _status_code, _headers = force_resend_event_deliveries_with_http_info(project_id, models_ids, opts)
      data
    end

    # Force retry event delivery
    # This endpoint enables you retry a previously successful event delivery
    # @param project_id [String] Project ID
    # @param models_ids [ModelsIDs] event delivery ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def force_resend_event_deliveries_with_http_info(project_id, models_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDeliveriesApi.force_resend_event_deliveries ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventDeliveriesApi.force_resend_event_deliveries"
      end
      # verify the required parameter 'models_ids' is set
      if @api_client.config.client_side_validation && models_ids.nil?
        fail ArgumentError, "Missing the required parameter 'models_ids' when calling EventDeliveriesApi.force_resend_event_deliveries"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/eventdeliveries/forceresend'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_ids)

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDeliveriesApi.force_resend_event_deliveries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDeliveriesApi#force_resend_event_deliveries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all event deliveries
    # This endpoint retrieves all event deliveries paginated.
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint IDs to filter by
    # @option opts [String] :event_id Event ID to filter by
    # @option opts [String] :event_type EventType to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [String] :start_date The start date
    # @option opts [Array<String>] :status A list of event delivery statuses to filter by
    # @option opts [String] :subscription_id SubscriptionID to filter by
    # @return [GetEventDeliveriesPaged200Response]
    def get_event_deliveries_paged(project_id, opts = {})
      data, _status_code, _headers = get_event_deliveries_paged_with_http_info(project_id, opts)
      data
    end

    # List all event deliveries
    # This endpoint retrieves all event deliveries paginated.
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [Array<String>] :endpoint_id A list of endpoint IDs to filter by
    # @option opts [String] :event_id Event ID to filter by
    # @option opts [String] :event_type EventType to filter by
    # @option opts [String] :idempotency_key IdempotencyKey to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [String] :start_date The start date
    # @option opts [Array<String>] :status A list of event delivery statuses to filter by
    # @option opts [String] :subscription_id SubscriptionID to filter by
    # @return [Array<(GetEventDeliveriesPaged200Response, Integer, Hash)>] GetEventDeliveriesPaged200Response data, response status code and response headers
    def get_event_deliveries_paged_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDeliveriesApi.get_event_deliveries_paged ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventDeliveriesApi.get_event_deliveries_paged"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/eventdeliveries'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'endpointId'] = @api_client.build_collection_param(opts[:'endpoint_id'], :multi) if !opts[:'endpoint_id'].nil?
      query_params[:'eventId'] = opts[:'event_id'] if !opts[:'event_id'].nil?
      query_params[:'event_type'] = opts[:'event_type'] if !opts[:'event_type'].nil?
      query_params[:'idempotencyKey'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'status'] = @api_client.build_collection_param(opts[:'status'], :multi) if !opts[:'status'].nil?
      query_params[:'subscriptionId'] = opts[:'subscription_id'] if !opts[:'subscription_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventDeliveriesPaged200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDeliveriesApi.get_event_deliveries_paged",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDeliveriesApi#get_event_deliveries_paged\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an event delivery
    # This endpoint fetches an event delivery.
    # @param project_id [String] Project ID
    # @param event_delivery_id [String] event delivery id
    # @param [Hash] opts the optional parameters
    # @return [GetEventDelivery200Response]
    def get_event_delivery(project_id, event_delivery_id, opts = {})
      data, _status_code, _headers = get_event_delivery_with_http_info(project_id, event_delivery_id, opts)
      data
    end

    # Retrieve an event delivery
    # This endpoint fetches an event delivery.
    # @param project_id [String] Project ID
    # @param event_delivery_id [String] event delivery id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEventDelivery200Response, Integer, Hash)>] GetEventDelivery200Response data, response status code and response headers
    def get_event_delivery_with_http_info(project_id, event_delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDeliveriesApi.get_event_delivery ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventDeliveriesApi.get_event_delivery"
      end
      # verify the required parameter 'event_delivery_id' is set
      if @api_client.config.client_side_validation && event_delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_delivery_id' when calling EventDeliveriesApi.get_event_delivery"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{eventDeliveryID}', CGI.escape(event_delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventDelivery200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDeliveriesApi.get_event_delivery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDeliveriesApi#get_event_delivery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry event delivery
    # This endpoint retries an event delivery.
    # @param project_id [String] Project ID
    # @param event_delivery_id [String] event delivery id
    # @param [Hash] opts the optional parameters
    # @return [GetEventDelivery200Response]
    def resend_event_delivery(project_id, event_delivery_id, opts = {})
      data, _status_code, _headers = resend_event_delivery_with_http_info(project_id, event_delivery_id, opts)
      data
    end

    # Retry event delivery
    # This endpoint retries an event delivery.
    # @param project_id [String] Project ID
    # @param event_delivery_id [String] event delivery id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEventDelivery200Response, Integer, Hash)>] GetEventDelivery200Response data, response status code and response headers
    def resend_event_delivery_with_http_info(project_id, event_delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventDeliveriesApi.resend_event_delivery ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventDeliveriesApi.resend_event_delivery"
      end
      # verify the required parameter 'event_delivery_id' is set
      if @api_client.config.client_side_validation && event_delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_delivery_id' when calling EventDeliveriesApi.resend_event_delivery"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}/resend'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{eventDeliveryID}', CGI.escape(event_delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventDelivery200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventDeliveriesApi.resend_event_delivery",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventDeliveriesApi#resend_event_delivery\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
