=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class EventTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an event type
    # This endpoint creates an event type
    # @param project_id [String] Project ID
    # @param models_create_event_type [ModelsCreateEventType] Event Type Details
    # @param [Hash] opts the optional parameters
    # @return [CreateEventType201Response]
    def create_event_type(project_id, models_create_event_type, opts = {})
      data, _status_code, _headers = create_event_type_with_http_info(project_id, models_create_event_type, opts)
      data
    end

    # Create an event type
    # This endpoint creates an event type
    # @param project_id [String] Project ID
    # @param models_create_event_type [ModelsCreateEventType] Event Type Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEventType201Response, Integer, Hash)>] CreateEventType201Response data, response status code and response headers
    def create_event_type_with_http_info(project_id, models_create_event_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventTypesApi.create_event_type ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventTypesApi.create_event_type"
      end
      # verify the required parameter 'models_create_event_type' is set
      if @api_client.config.client_side_validation && models_create_event_type.nil?
        fail ArgumentError, "Missing the required parameter 'models_create_event_type' when calling EventTypesApi.create_event_type"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/event-types'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_create_event_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEventType201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventTypesApi.create_event_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventTypesApi#create_event_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deprecates an event type
    # This endpoint deprecates an event type
    # @param project_id [String] Project ID
    # @param event_type_id [String] Event Type ID
    # @param [Hash] opts the optional parameters
    # @return [CreateEventType201Response]
    def deprecate_event_type(project_id, event_type_id, opts = {})
      data, _status_code, _headers = deprecate_event_type_with_http_info(project_id, event_type_id, opts)
      data
    end

    # Deprecates an event type
    # This endpoint deprecates an event type
    # @param project_id [String] Project ID
    # @param event_type_id [String] Event Type ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEventType201Response, Integer, Hash)>] CreateEventType201Response data, response status code and response headers
    def deprecate_event_type_with_http_info(project_id, event_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventTypesApi.deprecate_event_type ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventTypesApi.deprecate_event_type"
      end
      # verify the required parameter 'event_type_id' is set
      if @api_client.config.client_side_validation && event_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_type_id' when calling EventTypesApi.deprecate_event_type"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/event-types/{eventTypeId}/deprecate'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{eventTypeId}', CGI.escape(event_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEventType201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventTypesApi.deprecate_event_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventTypesApi#deprecate_event_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a project's event types
    # This endpoint fetches the project's event types
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [GetEventTypes200Response]
    def get_event_types(project_id, opts = {})
      data, _status_code, _headers = get_event_types_with_http_info(project_id, opts)
      data
    end

    # Retrieves a project&#39;s event types
    # This endpoint fetches the project&#39;s event types
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEventTypes200Response, Integer, Hash)>] GetEventTypes200Response data, response status code and response headers
    def get_event_types_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventTypesApi.get_event_types ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventTypesApi.get_event_types"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/event-types'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventTypes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventTypesApi.get_event_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventTypesApi#get_event_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Import event types from OpenAPI spec
    # This endpoint imports event types from an OpenAPI specification
    # @param project_id [String] Project ID
    # @param models_import_open_api_spec [ModelsImportOpenAPISpec] OpenAPI specification
    # @param [Hash] opts the optional parameters
    # @return [GetEventTypes200Response]
    def import_open_api_spec(project_id, models_import_open_api_spec, opts = {})
      data, _status_code, _headers = import_open_api_spec_with_http_info(project_id, models_import_open_api_spec, opts)
      data
    end

    # Import event types from OpenAPI spec
    # This endpoint imports event types from an OpenAPI specification
    # @param project_id [String] Project ID
    # @param models_import_open_api_spec [ModelsImportOpenAPISpec] OpenAPI specification
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEventTypes200Response, Integer, Hash)>] GetEventTypes200Response data, response status code and response headers
    def import_open_api_spec_with_http_info(project_id, models_import_open_api_spec, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventTypesApi.import_open_api_spec ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventTypesApi.import_open_api_spec"
      end
      # verify the required parameter 'models_import_open_api_spec' is set
      if @api_client.config.client_side_validation && models_import_open_api_spec.nil?
        fail ArgumentError, "Missing the required parameter 'models_import_open_api_spec' when calling EventTypesApi.import_open_api_spec"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/event-types/import'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_import_open_api_spec)

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventTypes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventTypesApi.import_open_api_spec",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventTypesApi#import_open_api_spec\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an event type
    # This endpoint updates an event type
    # @param project_id [String] Project ID
    # @param event_type_id [String] Event Type ID
    # @param models_update_event_type [ModelsUpdateEventType] Event Type Details
    # @param [Hash] opts the optional parameters
    # @return [CreateEventType201Response]
    def update_event_type(project_id, event_type_id, models_update_event_type, opts = {})
      data, _status_code, _headers = update_event_type_with_http_info(project_id, event_type_id, models_update_event_type, opts)
      data
    end

    # Updates an event type
    # This endpoint updates an event type
    # @param project_id [String] Project ID
    # @param event_type_id [String] Event Type ID
    # @param models_update_event_type [ModelsUpdateEventType] Event Type Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEventType201Response, Integer, Hash)>] CreateEventType201Response data, response status code and response headers
    def update_event_type_with_http_info(project_id, event_type_id, models_update_event_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventTypesApi.update_event_type ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EventTypesApi.update_event_type"
      end
      # verify the required parameter 'event_type_id' is set
      if @api_client.config.client_side_validation && event_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_type_id' when calling EventTypesApi.update_event_type"
      end
      # verify the required parameter 'models_update_event_type' is set
      if @api_client.config.client_side_validation && models_update_event_type.nil?
        fail ArgumentError, "Missing the required parameter 'models_update_event_type' when calling EventTypesApi.update_event_type"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/event-types/{eventTypeId}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{eventTypeId}', CGI.escape(event_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_update_event_type)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEventType201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EventTypesApi.update_event_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventTypesApi#update_event_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
