=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class FiltersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create multiple subscription filters
    # This endpoint creates multiple filters for a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param models_create_filter_request [Array<ModelsCreateFilterRequest>] Filters to create
    # @param [Hash] opts the optional parameters
    # @return [GetFilters200Response]
    def bulk_create_filters(project_id, subscription_id, models_create_filter_request, opts = {})
      data, _status_code, _headers = bulk_create_filters_with_http_info(project_id, subscription_id, models_create_filter_request, opts)
      data
    end

    # Create multiple subscription filters
    # This endpoint creates multiple filters for a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param models_create_filter_request [Array<ModelsCreateFilterRequest>] Filters to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFilters200Response, Integer, Hash)>] GetFilters200Response data, response status code and response headers
    def bulk_create_filters_with_http_info(project_id, subscription_id, models_create_filter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiltersApi.bulk_create_filters ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FiltersApi.bulk_create_filters"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FiltersApi.bulk_create_filters"
      end
      # verify the required parameter 'models_create_filter_request' is set
      if @api_client.config.client_side_validation && models_create_filter_request.nil?
        fail ArgumentError, "Missing the required parameter 'models_create_filter_request' when calling FiltersApi.bulk_create_filters"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}/filters/bulk'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_create_filter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetFilters200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FiltersApi.bulk_create_filters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiltersApi#bulk_create_filters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update multiple subscription filters
    # This endpoint updates multiple filters for a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param models_bulk_update_filter_request [Array<ModelsBulkUpdateFilterRequest>] Filters to update
    # @param [Hash] opts the optional parameters
    # @return [GetFilters200Response]
    def bulk_update_filters(project_id, subscription_id, models_bulk_update_filter_request, opts = {})
      data, _status_code, _headers = bulk_update_filters_with_http_info(project_id, subscription_id, models_bulk_update_filter_request, opts)
      data
    end

    # Update multiple subscription filters
    # This endpoint updates multiple filters for a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param models_bulk_update_filter_request [Array<ModelsBulkUpdateFilterRequest>] Filters to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFilters200Response, Integer, Hash)>] GetFilters200Response data, response status code and response headers
    def bulk_update_filters_with_http_info(project_id, subscription_id, models_bulk_update_filter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiltersApi.bulk_update_filters ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FiltersApi.bulk_update_filters"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FiltersApi.bulk_update_filters"
      end
      # verify the required parameter 'models_bulk_update_filter_request' is set
      if @api_client.config.client_side_validation && models_bulk_update_filter_request.nil?
        fail ArgumentError, "Missing the required parameter 'models_bulk_update_filter_request' when calling FiltersApi.bulk_update_filters"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}/filters/bulk_update'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_bulk_update_filter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetFilters200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FiltersApi.bulk_update_filters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiltersApi#bulk_update_filters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new filter
    # This endpoint creates a new filter for a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param models_create_filter_request [ModelsCreateFilterRequest] Filter to create
    # @param [Hash] opts the optional parameters
    # @return [CreateFilter201Response]
    def create_filter(project_id, subscription_id, models_create_filter_request, opts = {})
      data, _status_code, _headers = create_filter_with_http_info(project_id, subscription_id, models_create_filter_request, opts)
      data
    end

    # Create a new filter
    # This endpoint creates a new filter for a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param models_create_filter_request [ModelsCreateFilterRequest] Filter to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateFilter201Response, Integer, Hash)>] CreateFilter201Response data, response status code and response headers
    def create_filter_with_http_info(project_id, subscription_id, models_create_filter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiltersApi.create_filter ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FiltersApi.create_filter"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FiltersApi.create_filter"
      end
      # verify the required parameter 'models_create_filter_request' is set
      if @api_client.config.client_side_validation && models_create_filter_request.nil?
        fail ArgumentError, "Missing the required parameter 'models_create_filter_request' when calling FiltersApi.create_filter"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}/filters'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_create_filter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFilter201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FiltersApi.create_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiltersApi#create_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a filter
    # This endpoint deletes a filter
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param filter_id [String] Filter ID
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def delete_filter(project_id, subscription_id, filter_id, opts = {})
      data, _status_code, _headers = delete_filter_with_http_info(project_id, subscription_id, filter_id, opts)
      data
    end

    # Delete a filter
    # This endpoint deletes a filter
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param filter_id [String] Filter ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def delete_filter_with_http_info(project_id, subscription_id, filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiltersApi.delete_filter ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FiltersApi.delete_filter"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FiltersApi.delete_filter"
      end
      # verify the required parameter 'filter_id' is set
      if @api_client.config.client_side_validation && filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'filter_id' when calling FiltersApi.delete_filter"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}/filters/{filterID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s)).sub('{filterID}', CGI.escape(filter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FiltersApi.delete_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiltersApi#delete_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a filter
    # This endpoint retrieves a single filter
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param filter_id [String] Filter ID
    # @param [Hash] opts the optional parameters
    # @return [CreateFilter201Response]
    def get_filter(project_id, subscription_id, filter_id, opts = {})
      data, _status_code, _headers = get_filter_with_http_info(project_id, subscription_id, filter_id, opts)
      data
    end

    # Get a filter
    # This endpoint retrieves a single filter
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param filter_id [String] Filter ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateFilter201Response, Integer, Hash)>] CreateFilter201Response data, response status code and response headers
    def get_filter_with_http_info(project_id, subscription_id, filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiltersApi.get_filter ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FiltersApi.get_filter"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FiltersApi.get_filter"
      end
      # verify the required parameter 'filter_id' is set
      if @api_client.config.client_side_validation && filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'filter_id' when calling FiltersApi.get_filter"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}/filters/{filterID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s)).sub('{filterID}', CGI.escape(filter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFilter201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FiltersApi.get_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiltersApi#get_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all filters
    # This endpoint fetches all filters for a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param [Hash] opts the optional parameters
    # @return [GetFilters200Response]
    def get_filters(project_id, subscription_id, opts = {})
      data, _status_code, _headers = get_filters_with_http_info(project_id, subscription_id, opts)
      data
    end

    # List all filters
    # This endpoint fetches all filters for a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFilters200Response, Integer, Hash)>] GetFilters200Response data, response status code and response headers
    def get_filters_with_http_info(project_id, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiltersApi.get_filters ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FiltersApi.get_filters"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FiltersApi.get_filters"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}/filters'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFilters200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FiltersApi.get_filters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiltersApi#get_filters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test a filter
    # This endpoint tests a filter against a payload
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param event_type [String] Event Type
    # @param models_test_filter_request [ModelsTestFilterRequest] Payload to test
    # @param [Hash] opts the optional parameters
    # @return [TestFilter200Response]
    def test_filter(project_id, subscription_id, event_type, models_test_filter_request, opts = {})
      data, _status_code, _headers = test_filter_with_http_info(project_id, subscription_id, event_type, models_test_filter_request, opts)
      data
    end

    # Test a filter
    # This endpoint tests a filter against a payload
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param event_type [String] Event Type
    # @param models_test_filter_request [ModelsTestFilterRequest] Payload to test
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestFilter200Response, Integer, Hash)>] TestFilter200Response data, response status code and response headers
    def test_filter_with_http_info(project_id, subscription_id, event_type, models_test_filter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiltersApi.test_filter ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FiltersApi.test_filter"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FiltersApi.test_filter"
      end
      # verify the required parameter 'event_type' is set
      if @api_client.config.client_side_validation && event_type.nil?
        fail ArgumentError, "Missing the required parameter 'event_type' when calling FiltersApi.test_filter"
      end
      # verify the required parameter 'models_test_filter_request' is set
      if @api_client.config.client_side_validation && models_test_filter_request.nil?
        fail ArgumentError, "Missing the required parameter 'models_test_filter_request' when calling FiltersApi.test_filter"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}/filters/test/{eventType}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s)).sub('{eventType}', CGI.escape(event_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_test_filter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TestFilter200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FiltersApi.test_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiltersApi#test_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a filter
    # This endpoint updates an existing filter
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param filter_id [String] Filter ID
    # @param models_update_filter_request [ModelsUpdateFilterRequest] Updated filter
    # @param [Hash] opts the optional parameters
    # @return [CreateFilter201Response]
    def update_filter(project_id, subscription_id, filter_id, models_update_filter_request, opts = {})
      data, _status_code, _headers = update_filter_with_http_info(project_id, subscription_id, filter_id, models_update_filter_request, opts)
      data
    end

    # Update a filter
    # This endpoint updates an existing filter
    # @param project_id [String] Project ID
    # @param subscription_id [String] Subscription ID
    # @param filter_id [String] Filter ID
    # @param models_update_filter_request [ModelsUpdateFilterRequest] Updated filter
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateFilter201Response, Integer, Hash)>] CreateFilter201Response data, response status code and response headers
    def update_filter_with_http_info(project_id, subscription_id, filter_id, models_update_filter_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiltersApi.update_filter ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FiltersApi.update_filter"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FiltersApi.update_filter"
      end
      # verify the required parameter 'filter_id' is set
      if @api_client.config.client_side_validation && filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'filter_id' when calling FiltersApi.update_filter"
      end
      # verify the required parameter 'models_update_filter_request' is set
      if @api_client.config.client_side_validation && models_update_filter_request.nil?
        fail ArgumentError, "Missing the required parameter 'models_update_filter_request' when calling FiltersApi.update_filter"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}/filters/{filterID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s)).sub('{filterID}', CGI.escape(filter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_update_filter_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFilter201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FiltersApi.update_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiltersApi#update_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
