=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class MetaEventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve a meta event
    # This endpoint retrieves a meta event
    # @param project_id [String] Project ID
    # @param meta_event_id [String] meta event id
    # @param [Hash] opts the optional parameters
    # @return [GetMetaEvent200Response]
    def get_meta_event(project_id, meta_event_id, opts = {})
      data, _status_code, _headers = get_meta_event_with_http_info(project_id, meta_event_id, opts)
      data
    end

    # Retrieve a meta event
    # This endpoint retrieves a meta event
    # @param project_id [String] Project ID
    # @param meta_event_id [String] meta event id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMetaEvent200Response, Integer, Hash)>] GetMetaEvent200Response data, response status code and response headers
    def get_meta_event_with_http_info(project_id, meta_event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetaEventsApi.get_meta_event ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MetaEventsApi.get_meta_event"
      end
      # verify the required parameter 'meta_event_id' is set
      if @api_client.config.client_side_validation && meta_event_id.nil?
        fail ArgumentError, "Missing the required parameter 'meta_event_id' when calling MetaEventsApi.get_meta_event"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/meta-events/{metaEventID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{metaEventID}', CGI.escape(meta_event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMetaEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetaEventsApi.get_meta_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetaEventsApi#get_meta_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all meta events
    # This endpoint fetches meta events with pagination
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [String] :start_date The start date
    # @return [GetMetaEventsPaged200Response]
    def get_meta_events_paged(project_id, opts = {})
      data, _status_code, _headers = get_meta_events_paged_with_http_info(project_id, opts)
      data
    end

    # List all meta events
    # This endpoint fetches meta events with pagination
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :end_date The end date
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [String] :start_date The start date
    # @return [Array<(GetMetaEventsPaged200Response, Integer, Hash)>] GetMetaEventsPaged200Response data, response status code and response headers
    def get_meta_events_paged_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetaEventsApi.get_meta_events_paged ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MetaEventsApi.get_meta_events_paged"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/meta-events'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMetaEventsPaged200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetaEventsApi.get_meta_events_paged",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetaEventsApi#get_meta_events_paged\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry meta event
    # This endpoint retries a meta event
    # @param project_id [String] Project ID
    # @param meta_event_id [String] meta event id
    # @param [Hash] opts the optional parameters
    # @return [GetMetaEvent200Response]
    def resend_meta_event(project_id, meta_event_id, opts = {})
      data, _status_code, _headers = resend_meta_event_with_http_info(project_id, meta_event_id, opts)
      data
    end

    # Retry meta event
    # This endpoint retries a meta event
    # @param project_id [String] Project ID
    # @param meta_event_id [String] meta event id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMetaEvent200Response, Integer, Hash)>] GetMetaEvent200Response data, response status code and response headers
    def resend_meta_event_with_http_info(project_id, meta_event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetaEventsApi.resend_meta_event ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MetaEventsApi.resend_meta_event"
      end
      # verify the required parameter 'meta_event_id' is set
      if @api_client.config.client_side_validation && meta_event_id.nil?
        fail ArgumentError, "Missing the required parameter 'meta_event_id' when calling MetaEventsApi.resend_meta_event"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/meta-events/{metaEventID}/resend'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{metaEventID}', CGI.escape(meta_event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMetaEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetaEventsApi.resend_meta_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetaEventsApi#resend_meta_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
