=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class OnboardApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk onboard endpoints with subscriptions
    # This endpoint accepts a CSV file or JSON body to bulk-create endpoints with subscriptions
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dry_run Validate without creating
    # @option opts [File] :body Onboard Details (JSON)
    # @return [BulkOnboard200Response]
    def bulk_onboard(project_id, opts = {})
      data, _status_code, _headers = bulk_onboard_with_http_info(project_id, opts)
      data
    end

    # Bulk onboard endpoints with subscriptions
    # This endpoint accepts a CSV file or JSON body to bulk-create endpoints with subscriptions
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dry_run Validate without creating
    # @option opts [File] :body Onboard Details (JSON)
    # @return [Array<(BulkOnboard200Response, Integer, Hash)>] BulkOnboard200Response data, response status code and response headers
    def bulk_onboard_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnboardApi.bulk_onboard ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OnboardApi.bulk_onboard"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/onboard'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dry_run'] = opts[:'dry_run'] if !opts[:'dry_run'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/octet-stream'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'BulkOnboard200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"OnboardApi.bulk_onboard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnboardApi#bulk_onboard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
