=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class PortalLinksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a portal link
    # This endpoint creates a portal link
    # @param project_id [String] Project ID
    # @param datastore_create_portal_link_request [DatastoreCreatePortalLinkRequest] Portal Link Details
    # @param [Hash] opts the optional parameters
    # @return [CreatePortalLink201Response]
    def create_portal_link(project_id, datastore_create_portal_link_request, opts = {})
      data, _status_code, _headers = create_portal_link_with_http_info(project_id, datastore_create_portal_link_request, opts)
      data
    end

    # Create a portal link
    # This endpoint creates a portal link
    # @param project_id [String] Project ID
    # @param datastore_create_portal_link_request [DatastoreCreatePortalLinkRequest] Portal Link Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePortalLink201Response, Integer, Hash)>] CreatePortalLink201Response data, response status code and response headers
    def create_portal_link_with_http_info(project_id, datastore_create_portal_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortalLinksApi.create_portal_link ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PortalLinksApi.create_portal_link"
      end
      # verify the required parameter 'datastore_create_portal_link_request' is set
      if @api_client.config.client_side_validation && datastore_create_portal_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'datastore_create_portal_link_request' when calling PortalLinksApi.create_portal_link"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/portal-links'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(datastore_create_portal_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePortalLink201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PortalLinksApi.create_portal_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortalLinksApi#create_portal_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a portal link
    # This endpoint retrieves a portal link by its id.
    # @param project_id [String] Project ID
    # @param portal_link_id [String] portal link id
    # @param [Hash] opts the optional parameters
    # @return [CreatePortalLink201Response]
    def get_portal_link(project_id, portal_link_id, opts = {})
      data, _status_code, _headers = get_portal_link_with_http_info(project_id, portal_link_id, opts)
      data
    end

    # Retrieve a portal link
    # This endpoint retrieves a portal link by its id.
    # @param project_id [String] Project ID
    # @param portal_link_id [String] portal link id
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePortalLink201Response, Integer, Hash)>] CreatePortalLink201Response data, response status code and response headers
    def get_portal_link_with_http_info(project_id, portal_link_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortalLinksApi.get_portal_link ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PortalLinksApi.get_portal_link"
      end
      # verify the required parameter 'portal_link_id' is set
      if @api_client.config.client_side_validation && portal_link_id.nil?
        fail ArgumentError, "Missing the required parameter 'portal_link_id' when calling PortalLinksApi.get_portal_link"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/portal-links/{portalLinkID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{portalLinkID}', CGI.escape(portal_link_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePortalLink201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PortalLinksApi.get_portal_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortalLinksApi#get_portal_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all portal links
    # This endpoint fetches multiple portal links
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [String] :owner_id The owner ID of the endpoint
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :q The name of the endpoint
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @return [LoadPortalLinksPaged200Response]
    def load_portal_links_paged(project_id, opts = {})
      data, _status_code, _headers = load_portal_links_paged_with_http_info(project_id, opts)
      data
    end

    # List all portal links
    # This endpoint fetches multiple portal links
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [String] :owner_id The owner ID of the endpoint
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :q The name of the endpoint
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @return [Array<(LoadPortalLinksPaged200Response, Integer, Hash)>] LoadPortalLinksPaged200Response data, response status code and response headers
    def load_portal_links_paged_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortalLinksApi.load_portal_links_paged ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PortalLinksApi.load_portal_links_paged"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/portal-links'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'ownerId'] = opts[:'owner_id'] if !opts[:'owner_id'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoadPortalLinksPaged200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PortalLinksApi.load_portal_links_paged",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortalLinksApi#load_portal_links_paged\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a portal link auth token
    # This endpoint retrieves a portal link auth token
    # @param project_id [String] Project ID
    # @param portal_link_id [String] portal link id
    # @param [Hash] opts the optional parameters
    # @return [BatchReplayEvents200Response]
    def refresh_portal_link_auth_token(project_id, portal_link_id, opts = {})
      data, _status_code, _headers = refresh_portal_link_auth_token_with_http_info(project_id, portal_link_id, opts)
      data
    end

    # Get a portal link auth token
    # This endpoint retrieves a portal link auth token
    # @param project_id [String] Project ID
    # @param portal_link_id [String] portal link id
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchReplayEvents200Response, Integer, Hash)>] BatchReplayEvents200Response data, response status code and response headers
    def refresh_portal_link_auth_token_with_http_info(project_id, portal_link_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortalLinksApi.refresh_portal_link_auth_token ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PortalLinksApi.refresh_portal_link_auth_token"
      end
      # verify the required parameter 'portal_link_id' is set
      if @api_client.config.client_side_validation && portal_link_id.nil?
        fail ArgumentError, "Missing the required parameter 'portal_link_id' when calling PortalLinksApi.refresh_portal_link_auth_token"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/portal-links/{portalLinkID}/refresh_token'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{portalLinkID}', CGI.escape(portal_link_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BatchReplayEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PortalLinksApi.refresh_portal_link_auth_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortalLinksApi#refresh_portal_link_auth_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a portal link
    # This endpoint revokes a portal link
    # @param project_id [String] Project ID
    # @param portal_link_id [String] portal link id
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def revoke_portal_link(project_id, portal_link_id, opts = {})
      data, _status_code, _headers = revoke_portal_link_with_http_info(project_id, portal_link_id, opts)
      data
    end

    # Revoke a portal link
    # This endpoint revokes a portal link
    # @param project_id [String] Project ID
    # @param portal_link_id [String] portal link id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def revoke_portal_link_with_http_info(project_id, portal_link_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortalLinksApi.revoke_portal_link ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PortalLinksApi.revoke_portal_link"
      end
      # verify the required parameter 'portal_link_id' is set
      if @api_client.config.client_side_validation && portal_link_id.nil?
        fail ArgumentError, "Missing the required parameter 'portal_link_id' when calling PortalLinksApi.revoke_portal_link"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/portal-links/{portalLinkID}/revoke'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{portalLinkID}', CGI.escape(portal_link_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PortalLinksApi.revoke_portal_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortalLinksApi#revoke_portal_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a portal link
    # This endpoint updates a portal link
    # @param project_id [String] Project ID
    # @param portal_link_id [String] portal link id
    # @param datastore_update_portal_link_request [DatastoreUpdatePortalLinkRequest] Portal Link Details
    # @param [Hash] opts the optional parameters
    # @return [CreatePortalLink201Response]
    def update_portal_link(project_id, portal_link_id, datastore_update_portal_link_request, opts = {})
      data, _status_code, _headers = update_portal_link_with_http_info(project_id, portal_link_id, datastore_update_portal_link_request, opts)
      data
    end

    # Update a portal link
    # This endpoint updates a portal link
    # @param project_id [String] Project ID
    # @param portal_link_id [String] portal link id
    # @param datastore_update_portal_link_request [DatastoreUpdatePortalLinkRequest] Portal Link Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePortalLink201Response, Integer, Hash)>] CreatePortalLink201Response data, response status code and response headers
    def update_portal_link_with_http_info(project_id, portal_link_id, datastore_update_portal_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PortalLinksApi.update_portal_link ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling PortalLinksApi.update_portal_link"
      end
      # verify the required parameter 'portal_link_id' is set
      if @api_client.config.client_side_validation && portal_link_id.nil?
        fail ArgumentError, "Missing the required parameter 'portal_link_id' when calling PortalLinksApi.update_portal_link"
      end
      # verify the required parameter 'datastore_update_portal_link_request' is set
      if @api_client.config.client_side_validation && datastore_update_portal_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'datastore_update_portal_link_request' when calling PortalLinksApi.update_portal_link"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/portal-links/{portalLinkID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{portalLinkID}', CGI.escape(portal_link_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(datastore_update_portal_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePortalLink201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PortalLinksApi.update_portal_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PortalLinksApi#update_portal_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
