=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class SourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a source
    # This endpoint creates a source
    # @param project_id [String] Project ID
    # @param models_create_source [ModelsCreateSource] Source Details
    # @param [Hash] opts the optional parameters
    # @return [CreateSource201Response]
    def create_source(project_id, models_create_source, opts = {})
      data, _status_code, _headers = create_source_with_http_info(project_id, models_create_source, opts)
      data
    end

    # Create a source
    # This endpoint creates a source
    # @param project_id [String] Project ID
    # @param models_create_source [ModelsCreateSource] Source Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSource201Response, Integer, Hash)>] CreateSource201Response data, response status code and response headers
    def create_source_with_http_info(project_id, models_create_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.create_source ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SourcesApi.create_source"
      end
      # verify the required parameter 'models_create_source' is set
      if @api_client.config.client_side_validation && models_create_source.nil?
        fail ArgumentError, "Missing the required parameter 'models_create_source' when calling SourcesApi.create_source"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/sources'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_create_source)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSource201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SourcesApi.create_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#create_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a source
    # This endpoint deletes a source
    # @param project_id [String] Project ID
    # @param source_id [String] source id
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def delete_source(project_id, source_id, opts = {})
      data, _status_code, _headers = delete_source_with_http_info(project_id, source_id, opts)
      data
    end

    # Delete a source
    # This endpoint deletes a source
    # @param project_id [String] Project ID
    # @param source_id [String] source id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def delete_source_with_http_info(project_id, source_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.delete_source ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SourcesApi.delete_source"
      end
      # verify the required parameter 'source_id' is set
      if @api_client.config.client_side_validation && source_id.nil?
        fail ArgumentError, "Missing the required parameter 'source_id' when calling SourcesApi.delete_source"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/sources/{sourceID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{sourceID}', CGI.escape(source_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SourcesApi.delete_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#delete_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a source
    # This endpoint retrieves a source by its id
    # @param project_id [String] Project ID
    # @param source_id [String] Source ID
    # @param [Hash] opts the optional parameters
    # @return [CreateSource201Response]
    def get_source(project_id, source_id, opts = {})
      data, _status_code, _headers = get_source_with_http_info(project_id, source_id, opts)
      data
    end

    # Retrieve a source
    # This endpoint retrieves a source by its id
    # @param project_id [String] Project ID
    # @param source_id [String] Source ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSource201Response, Integer, Hash)>] CreateSource201Response data, response status code and response headers
    def get_source_with_http_info(project_id, source_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.get_source ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SourcesApi.get_source"
      end
      # verify the required parameter 'source_id' is set
      if @api_client.config.client_side_validation && source_id.nil?
        fail ArgumentError, "Missing the required parameter 'source_id' when calling SourcesApi.get_source"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/sources/{sourceID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{sourceID}', CGI.escape(source_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSource201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SourcesApi.get_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#get_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all sources
    # This endpoint fetches multiple sources
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :provider The custom source provider e.g. twitter, shopify
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [String] :type The source type e.g. http, pub_sub
    # @return [LoadSourcesPaged200Response]
    def load_sources_paged(project_id, opts = {})
      data, _status_code, _headers = load_sources_paged_with_http_info(project_id, opts)
      data
    end

    # List all sources
    # This endpoint fetches multiple sources
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :provider The custom source provider e.g. twitter, shopify
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @option opts [String] :type The source type e.g. http, pub_sub
    # @return [Array<(LoadSourcesPaged200Response, Integer, Hash)>] LoadSourcesPaged200Response data, response status code and response headers
    def load_sources_paged_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.load_sources_paged ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SourcesApi.load_sources_paged"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/sources'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoadSourcesPaged200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SourcesApi.load_sources_paged",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#load_sources_paged\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a source
    # This endpoint updates a source
    # @param project_id [String] Project ID
    # @param source_id [String] source id
    # @param models_update_source [ModelsUpdateSource] Source Details
    # @param [Hash] opts the optional parameters
    # @return [CreateSource201Response]
    def update_source(project_id, source_id, models_update_source, opts = {})
      data, _status_code, _headers = update_source_with_http_info(project_id, source_id, models_update_source, opts)
      data
    end

    # Update a source
    # This endpoint updates a source
    # @param project_id [String] Project ID
    # @param source_id [String] source id
    # @param models_update_source [ModelsUpdateSource] Source Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSource201Response, Integer, Hash)>] CreateSource201Response data, response status code and response headers
    def update_source_with_http_info(project_id, source_id, models_update_source, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SourcesApi.update_source ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SourcesApi.update_source"
      end
      # verify the required parameter 'source_id' is set
      if @api_client.config.client_side_validation && source_id.nil?
        fail ArgumentError, "Missing the required parameter 'source_id' when calling SourcesApi.update_source"
      end
      # verify the required parameter 'models_update_source' is set
      if @api_client.config.client_side_validation && models_update_source.nil?
        fail ArgumentError, "Missing the required parameter 'models_update_source' when calling SourcesApi.update_source"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/sources/{sourceID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{sourceID}', CGI.escape(source_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_update_source)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSource201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SourcesApi.update_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SourcesApi#update_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
