=begin
#Convoy API Reference

#Convoy is a fast and secure webhooks proxy. This document contains datastore's API specification.

The version of the OpenAPI document: 26.3.5
Contact: support@getconvoy.io
Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module ConvoyApi
  class SubscriptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a subscription
    # This endpoint creates a subscriptions
    # @param project_id [String] Project ID
    # @param models_create_subscription [ModelsCreateSubscription] Subscription details
    # @param [Hash] opts the optional parameters
    # @return [CreateSubscription201Response]
    def create_subscription(project_id, models_create_subscription, opts = {})
      data, _status_code, _headers = create_subscription_with_http_info(project_id, models_create_subscription, opts)
      data
    end

    # Create a subscription
    # This endpoint creates a subscriptions
    # @param project_id [String] Project ID
    # @param models_create_subscription [ModelsCreateSubscription] Subscription details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSubscription201Response, Integer, Hash)>] CreateSubscription201Response data, response status code and response headers
    def create_subscription_with_http_info(project_id, models_create_subscription, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.create_subscription ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SubscriptionsApi.create_subscription"
      end
      # verify the required parameter 'models_create_subscription' is set
      if @api_client.config.client_side_validation && models_create_subscription.nil?
        fail ArgumentError, "Missing the required parameter 'models_create_subscription' when calling SubscriptionsApi.create_subscription"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_create_subscription)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSubscription201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.create_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#create_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete subscription
    # This endpoint deletes a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] subscription id
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def delete_subscription(project_id, subscription_id, opts = {})
      data, _status_code, _headers = delete_subscription_with_http_info(project_id, subscription_id, opts)
      data
    end

    # Delete subscription
    # This endpoint deletes a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] subscription id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def delete_subscription_with_http_info(project_id, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.delete_subscription ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SubscriptionsApi.delete_subscription"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubscriptionsApi.delete_subscription"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.delete_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#delete_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a subscription
    # This endpoint retrieves a single subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] subscription id
    # @param [Hash] opts the optional parameters
    # @return [CreateSubscription201Response]
    def get_subscription(project_id, subscription_id, opts = {})
      data, _status_code, _headers = get_subscription_with_http_info(project_id, subscription_id, opts)
      data
    end

    # Retrieve a subscription
    # This endpoint retrieves a single subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] subscription id
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSubscription201Response, Integer, Hash)>] CreateSubscription201Response data, response status code and response headers
    def get_subscription_with_http_info(project_id, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.get_subscription ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SubscriptionsApi.get_subscription"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubscriptionsApi.get_subscription"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSubscription201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.get_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#get_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all subscriptions
    # This endpoint fetches all the subscriptions
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [Array<String>] :endpoint_id A list of endpointIDs to filter by
    # @option opts [String] :name Subscription name to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @return [GetSubscriptions200Response]
    def get_subscriptions(project_id, opts = {})
      data, _status_code, _headers = get_subscriptions_with_http_info(project_id, opts)
      data
    end

    # List all subscriptions
    # This endpoint fetches all the subscriptions
    # @param project_id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :direction 
    # @option opts [Array<String>] :endpoint_id A list of endpointIDs to filter by
    # @option opts [String] :name Subscription name to filter by
    # @option opts [String] :next_page_cursor A pagination cursor to fetch the next page of a list
    # @option opts [Integer] :per_page The number of items to return per page
    # @option opts [String] :prev_page_cursor A pagination cursor to fetch the previous page of a list
    # @option opts [String] :sort Sort order, values are &#x60;ASC&#x60; or &#x60;DESC&#x60;, defaults to &#x60;DESC&#x60;
    # @return [Array<(GetSubscriptions200Response, Integer, Hash)>] GetSubscriptions200Response data, response status code and response headers
    def get_subscriptions_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.get_subscriptions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SubscriptionsApi.get_subscriptions"
      end
      allowable_values = ["next", "prev"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'endpointId'] = @api_client.build_collection_param(opts[:'endpoint_id'], :multi) if !opts[:'endpoint_id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'next_page_cursor'] = opts[:'next_page_cursor'] if !opts[:'next_page_cursor'].nil?
      query_params[:'perPage'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'prev_page_cursor'] = opts[:'prev_page_cursor'] if !opts[:'prev_page_cursor'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSubscriptions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.get_subscriptions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#get_subscriptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate subscription filter
    # This endpoint validates that a filter will match a certain payload structure.
    # @param project_id [String] Project ID
    # @param models_test_filter [ModelsTestFilter] Filter Details
    # @param [Hash] opts the optional parameters
    # @return [TestSubscriptionFilter200Response]
    def test_subscription_filter(project_id, models_test_filter, opts = {})
      data, _status_code, _headers = test_subscription_filter_with_http_info(project_id, models_test_filter, opts)
      data
    end

    # Validate subscription filter
    # This endpoint validates that a filter will match a certain payload structure.
    # @param project_id [String] Project ID
    # @param models_test_filter [ModelsTestFilter] Filter Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestSubscriptionFilter200Response, Integer, Hash)>] TestSubscriptionFilter200Response data, response status code and response headers
    def test_subscription_filter_with_http_info(project_id, models_test_filter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.test_subscription_filter ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SubscriptionsApi.test_subscription_filter"
      end
      # verify the required parameter 'models_test_filter' is set
      if @api_client.config.client_side_validation && models_test_filter.nil?
        fail ArgumentError, "Missing the required parameter 'models_test_filter' when calling SubscriptionsApi.test_subscription_filter"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/test_filter'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_test_filter)

      # return_type
      return_type = opts[:debug_return_type] || 'TestSubscriptionFilter200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.test_subscription_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#test_subscription_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test a subscription function
    # This endpoint test runs a transform function against a payload.
    # @param project_id [String] Project ID
    # @param models_function_request [ModelsFunctionRequest] Function Details
    # @param [Hash] opts the optional parameters
    # @return [V1ProjectsProjectIDSourcesTestFunctionPost200Response]
    def test_subscription_function(project_id, models_function_request, opts = {})
      data, _status_code, _headers = test_subscription_function_with_http_info(project_id, models_function_request, opts)
      data
    end

    # Test a subscription function
    # This endpoint test runs a transform function against a payload.
    # @param project_id [String] Project ID
    # @param models_function_request [ModelsFunctionRequest] Function Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ProjectsProjectIDSourcesTestFunctionPost200Response, Integer, Hash)>] V1ProjectsProjectIDSourcesTestFunctionPost200Response data, response status code and response headers
    def test_subscription_function_with_http_info(project_id, models_function_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.test_subscription_function ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SubscriptionsApi.test_subscription_function"
      end
      # verify the required parameter 'models_function_request' is set
      if @api_client.config.client_side_validation && models_function_request.nil?
        fail ArgumentError, "Missing the required parameter 'models_function_request' when calling SubscriptionsApi.test_subscription_function"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/test_function'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_function_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1ProjectsProjectIDSourcesTestFunctionPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.test_subscription_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#test_subscription_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Toggle subscription status
    # This endpoint toggles a subscription status. Retained for backward compatibility.
    # @param project_id [String] Project ID
    # @param subscription_id [String] subscription id
    # @param [Hash] opts the optional parameters
    # @return [GetProjects400Response]
    def toggle_subscription_status(project_id, subscription_id, opts = {})
      data, _status_code, _headers = toggle_subscription_status_with_http_info(project_id, subscription_id, opts)
      data
    end

    # Toggle subscription status
    # This endpoint toggles a subscription status. Retained for backward compatibility.
    # @param project_id [String] Project ID
    # @param subscription_id [String] subscription id
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjects400Response, Integer, Hash)>] GetProjects400Response data, response status code and response headers
    def toggle_subscription_status_with_http_info(project_id, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.toggle_subscription_status ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SubscriptionsApi.toggle_subscription_status"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubscriptionsApi.toggle_subscription_status"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}/toggle_status'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjects400Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.toggle_subscription_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#toggle_subscription_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a subscription
    # This endpoint updates a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] subscription id
    # @param models_update_subscription [ModelsUpdateSubscription] Subscription Details
    # @param [Hash] opts the optional parameters
    # @return [CreateSubscription201Response]
    def update_subscription(project_id, subscription_id, models_update_subscription, opts = {})
      data, _status_code, _headers = update_subscription_with_http_info(project_id, subscription_id, models_update_subscription, opts)
      data
    end

    # Update a subscription
    # This endpoint updates a subscription
    # @param project_id [String] Project ID
    # @param subscription_id [String] subscription id
    # @param models_update_subscription [ModelsUpdateSubscription] Subscription Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSubscription201Response, Integer, Hash)>] CreateSubscription201Response data, response status code and response headers
    def update_subscription_with_http_info(project_id, subscription_id, models_update_subscription, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.update_subscription ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SubscriptionsApi.update_subscription"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubscriptionsApi.update_subscription"
      end
      # verify the required parameter 'models_update_subscription' is set
      if @api_client.config.client_side_validation && models_update_subscription.nil?
        fail ArgumentError, "Missing the required parameter 'models_update_subscription' when calling SubscriptionsApi.update_subscription"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/subscriptions/{subscriptionID}'.sub('{projectID}', CGI.escape(project_id.to_s)).sub('{subscriptionID}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_update_subscription)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSubscription201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.update_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#update_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate source function
    # This endpoint validates that a filter will match a certain payload structure.
    # @param project_id [String] Project ID
    # @param models_function_request [ModelsFunctionRequest] Function Details
    # @param [Hash] opts the optional parameters
    # @return [V1ProjectsProjectIDSourcesTestFunctionPost200Response]
    def v1_projects_project_id_sources_test_function_post(project_id, models_function_request, opts = {})
      data, _status_code, _headers = v1_projects_project_id_sources_test_function_post_with_http_info(project_id, models_function_request, opts)
      data
    end

    # Validate source function
    # This endpoint validates that a filter will match a certain payload structure.
    # @param project_id [String] Project ID
    # @param models_function_request [ModelsFunctionRequest] Function Details
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ProjectsProjectIDSourcesTestFunctionPost200Response, Integer, Hash)>] V1ProjectsProjectIDSourcesTestFunctionPost200Response data, response status code and response headers
    def v1_projects_project_id_sources_test_function_post_with_http_info(project_id, models_function_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionsApi.v1_projects_project_id_sources_test_function_post ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SubscriptionsApi.v1_projects_project_id_sources_test_function_post"
      end
      # verify the required parameter 'models_function_request' is set
      if @api_client.config.client_side_validation && models_function_request.nil?
        fail ArgumentError, "Missing the required parameter 'models_function_request' when calling SubscriptionsApi.v1_projects_project_id_sources_test_function_post"
      end
      # resource path
      local_var_path = '/v1/projects/{projectID}/sources/test_function'.sub('{projectID}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(models_function_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1ProjectsProjectIDSourcesTestFunctionPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionsApi.v1_projects_project_id_sources_test_function_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionsApi#v1_projects_project_id_sources_test_function_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
